In [2]:
# import packages
import pandas as pd
import numpy as np

# load in data
waterCSV = pd.read_csv("..\data\waterSource.csv")
disCSV = pd.read_csv("..\data\disclosureList.csv")

C:\Users\phoeb\AppData\Local\Temp\ipykernel_18192\3577761854.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  disCSV = pd.read_csv("..\data\disclosureList.csv")

In [98]:
# pivot waterCSV on Description column and replace NA values with 0

wp = waterCSV.pivot(columns = "Description", index = ["DisclosureId", "APINumber"], values = "Percent").fillna(value = 0).reset_index()

# aggregate and rename columns 
wp["ground"] = wp[["Groundwater, < 1000TDS", "Groundwater, > 1000TDS"]].sum(axis = 1)
wp["surface"] = wp[["Surface Water, < 1000TDS", "Surface Water, > 1000TDS"]].sum(axis = 1)
wp["other"] = wp[["Other, < 1000TDS", "Other, > 1000TDS"]].sum(axis = 1)
wp["produced"] = wp["Produced Water"]

# select only columns relevant to analysis
wp2 = wp[["DisclosureId", "ground", "surface", "produced", "other"]]

In [114]:
# join disclosures list and water source information into single dataframe
cjn = pd.merge(disCSV, wp2, how = "inner", on = "DisclosureId")

# select only columns relevant to analysis
cjn = cjn[['DisclosureId', 'APINumber', 'StateName','CountyName', 
           'OperatorName', 'WellName', 'Latitude', 'Longitude',
           'TotalBaseWaterVolume', 'TotalBaseNonWaterVolume',
           'FederalWell', 'IndianWell', 'ground', 'surface',
           'produced', 'other']]

cjn

,DisclosureId,APINumber,StateName,CountyName,OperatorName,WellName,Latitude,Longitude,TotalBaseWaterVolume,TotalBaseNonWaterVolume,FederalWell,IndianWell,ground,surface,produced,other
0,ffbcb02e-9571-43f7-9fd1-9c6333c9422f,42009432470000,Texas,Archer,R2Q Operating LLC,Brown C Deep 30,33.749400,-98.664800,17186.0,0.0,False,False,100.00,0.0,0.0,0.0
1,dc4867e2-d877-4f59-afc0-e7d4cb2c2b47,42067308440000,Texas,Cass,Rose City Resources,CW 1,32.969196,-94.396652,318620.0,0.0,False,False,88.65,0.0,0.0,0.0
2,10b18928-8f07-4075-b140-8f92f140d8a1,42067308420000,Texas,Cass,Rose City Resources,Heath 1,32.962108,-94.357775,325346.0,0.0,False,False,88.86,0.0,0.0,0.0
3,d5bb67fd-2d06-42cf-9988-9983b978041e,35133237860000,Oklahoma,Seminole,RKR Exploration Inc,berry allen 1,35.048890,-96.642530,19866.0,0.0,False,False,100.00,0.0,0.0,0.0
4,3e82fee1-0220-4e5f-a1ab-5d74ca0d9606,35077218240000,Oklahoma,Latimer,EnerQuest Operating L.L.C.,Holly 1-7,34.915141,-95.129069,109421.0,315.0,False,False,100.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,705f1fd2-0d17-4f49-a146-7bb7773285da,30015496320000,New Mexico,Eddy,COG Operating LLC,Atticus State Com #705H,32.079718,-104.149800,31518686.0,0.0,False,False,0.00,0.0,100.0,0.0
670,ff277627-37a9-4dd2-a1ae-0bb7b5860d7d,30015496330000,New Mexico,Eddy,COG Operating LLC,Atticus State Com #706H,32.079718,-104.149900,31843060.0,0.0,False,False,0.00,0.0,100.0,0.0
671,941bd1e5-0bd9-4598-8bf3-fb20d787b9d9,35015225000000,Oklahoma,Caddo,Territory Resources,Mercer For Mayor 1-32,34.948690,-98.175708,120666.0,0.0,False,False,100.00,0.0,0.0,0.0
672,d6cd6fd7-ffd1-4423-af7b-3a0f9a19ba1e,42077353580000,Texas,Clay,"Best Petroleum Explorations, Inc.",CK 1,33.835339,-98.228750,9119.0,0.0,False,False,100.00,0.0,0.0,0.0
673,2392a326-17f2-4281-9127-fd2102aed0df,42371404340000,Texas,Pecos,"Continental Resources, Inc",PECAN STATE UNIT 0804BH,31.321200,-103.043117,22218420.0,0.0,False,False,100.00,0.0,0.0,0.0